@model UrunImageModel
@{
    ViewData["Title"] = "UrunDuzenle";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="container">
    <h2>Ürün Düzenle</h2>
    <hr />
    <div class="row">
        <div class="col">
            <form asp-action="UrunDuzenle" asp-route-id="@Model.Urun.UrunId" method="post" enctype="multipart/form-data">
                <input type="hidden" asp-for="Urun.UrunId" />
                <input type="hidden" asp-for="Urun.GozukmeSayisi" />
                <div class="form-group">
                    <label asp-for="Urun.UrunBaslik">Başlık</label>
                    <input asp-for="Urun.UrunBaslik" class="form-control" />
                </div>
                <div class="form-group">
                    <label asp-for="Urun.Aciklama">Açıklama</label>
                    <textarea asp-for="Urun.Aciklama" class="form-control"></textarea>
                </div>
                <div class="form-group">
                    <label asp-for="Urun.KategoriId">Kategori</label>
                    <select class="form-control" asp-for="Urun.KategoriId" asp-items="ViewBag.Kategoriler">
                        <option disabled selected value="">Kategori Seçiniz</option>
                    </select>
                </div>
                <hr />
                @foreach (var item in Model.Images)
                {
                    <div clas="row">
                        <img src="@item.ImageUrl" class="img-fluid" width="360" height="180" />
                        @if (Model.Images.Count() != 1)
                        {
                            <a asp-action="ImageSil" asp-route-id="@item.UrunImageId" class="btn btn-danger btn-lg">Sil</a>
                        }
                    </div>
                    <hr />
                }

                <div class="form-group">
                    <label>Fotoğraflar</label>
                    <input type="file" name="file" id="file" class="form-control" multiple />
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
                <a class="btn btn-warning" asp-action="UrunList">İptal</a>
            </form>
        </div>
    </div>
</div>


