@model Dukkan
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<div class="row">
    <div class="card col-md-5 m-5">
        <div class="row p-4">
            <div class="col-3 text-center" style="color:#0e8ce4; font-size:30px;">
                <i class="fas fa-mobile-alt"></i>
            </div>
            <div class="col-9 text-center">
                <h4>Telefon</h4>
                <p>@Model.Telefon</p>
            </div>
        </div>
    </div>

    <div class="card col-md-5 m-5 ml-md-auto">
        <div class="row p-4">
            <div class="col-3 text-center" style="color:#0e8ce4; font-size:30px;">
                <i class="fas fa-map-marker-alt"></i>
            </div>
            <div class="col-9 text-center">
                <h4>Adres</h4>
                <p>@Model.Adres</p>
            </div>
        </div>
    </div>

</div>
